/* Fondo principal */

.fondoverde{
    
    background-color: rgb(26, 188, 156);
}

/* Fondos ejercicio */

.fondorojo{
    background-color: red;
}

.fondoazulin{
    background-color:aqua;
}

.fondoblanquin{
    background-color: white;
}

.fondovioleta{
    background-color: blueviolet;
}

.fondoamarillin{
    background-color: rgb(197, 197, 60);
}

.fondoverdeclaro{
    background-color: rgb(49, 134, 49);
}

/* Letra blanca */

.letrablancaa{
    color: white;
}

.tamañoletra{
    font-size: 30px;
}

/* Bordes */

.bordegris{
    border: 10px outset rgb(128, 128, 128);
}

.bordegris2{
    border: 10px outset rgb(128, 128, 128);
}

.bordegris3{
    border: 15px outset rgb(128, 128, 128)
}

.bordegris4{
    border: 2px outset rgb(128, 128, 128);
}

.bordenegro{
    border: 1px outset black;
}

/* tamaños */

.tamañorecuadro{
    width: 100%;
}

/* margen */

.margen{
    margin: -5px;
    padding: -5px;
}